@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Titan+One&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(206, 10, 10, 0.404);
    text-align: justify;
}

header {
    padding: 20px;
    background-color: #000000;
    border-bottom: 1px solid #ddd;
    color: aliceblue;
    display: flex;
}

header img {
    width: 150px;
}

nav {    
    padding: 10px 0px 0px 10px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #e6e6dd;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #e6e6dd;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

h1, h2 {
    text-align: center;
    text-shadow: 3px 3px 3px #748d84;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.bucket-item {
    background-color: #000000;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #e6e6dd;
}

.bucket-item h2 {
    margin-top: 0;
    text-shadow: none;
    text-align: left;
}

.bucket-item p {
    margin-bottom: 10px;
}

.go-to-top-container {
    position: sticky;
    margin-left: 3%;
    bottom: 50px;
    z-index: 999;
}

.go-to-top {
    font-size: 15px;
    text-decoration: none;
    background-color: #2b2b2b;
    color: #ddd;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.go-to-top:hover {
    background-color: #ddd;
    color: #2b2b2b;
}

.light a {
    text-shadow: 5px 5px 10px #9ff9ff;
}

.wallpaper {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    filter: sepia(0.4) hue-rotate(-10deg) opacity(0.6);
  }

header {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  height: 100px; /* Sets a fixed height for the header */
  background-color: black; /* Example background color */
}

header .header-buttons button:hover {
  background-color: #777;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none; /* Removes underline for anchor links */
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.animated-button-link {
  text-decoration: none; /* Remove underline from links */
  margin: 0 10px;
}

.animated-button {
  padding: 12px 30px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.animated-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: #fff;
  transition: all 0.3s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.animated-button:hover {
  color: #000;
  background-color: #fff;
}

.animated-button:hover::before {
  width: 0;
  height: 0;
  opacity: 1;
}

main {
  position: relative;
  height: calc(100vh - 140px); /* Adjust height to account for header and footer */
}

.text-container {
    text-align: justify; /* This will justify the text */
    max-width: 800px; /* Optional: Limit the width for better readability */
    margin: 0 auto; /* Center the container */
}

.text-container h2 {
    text-align: center; /* Center the heading if desired */
}